/* ============================================================================
 *
 *  Waybar config
 *  @author:- anandubey
 *
 * ==========================================================================*/

/*

gruvchad = {
    white = "#c7b89d",
    darker_black = "#1a1d1e",
    black = "#1e2122", --  nvim bg
    black2 = "#232627",
    one_bg = "#282b2c",
    one_bg2 = "#393c3d",
    one_bg3 = "#404344",
    grey = "#484b4c",
    grey_fg = "#575a5b",
    grey_fg2 = "#545758",
    light_grey = "#5a5d5e",
    red = "#ec6b64",
    baby_pink = "#ce8196",
    pink = "#ff75a0",
    line = "#2c2f30", -- for lines like vertsplit
    green = "#89b482",
    vibrant_green = "#a9b665",
    nord_blue = "#6f8faf",
    blue = "#6d8dad",
    yellow = "#d6b676",
    sun = "#d1b171",
    purple = "#b4bbc8",
    dark_purple = "#cc7f94",
    teal = "#749689",
    orange = "#e78a4e",
    cyan = "#82b3a8",
    statusline_bg = "#222526",
    lightbg = "#2d3031",
    lightbg2 = "#252829",
    pmenu_bg = "#89b482",
    folder_bg = "#6d8dad",
}
*/
 
* {
    font-family: 'JetBrainsMonoMedium Nerd Font',
                 'Material Design Icons',
                 'Font Awesome 6 Free Solid';
    min-height: 0;
    min-width: 0;
    border: none;
}

window#waybar {
    background: #1e2122;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

tooltip {
    font-family: 'JetBrainsMonoMedium Nerd Font';
    font-size: 14px;
    padding: 5px;
    background-color: #393c3d;
    animation-name: fadein;
    animation-duration: 0.2s;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
    text-shadow: none;
    border: 1px solid #5d6061;
}
tooltip label {
    margin: 10px;
    color: #aeab96;
}

#custom-launcher {
    background-color: #6d8dad;
    color: #1a1d1e;
    font-size: 14px;
    padding: 0 5px 0 5px;
    margin: 2px 0 2px 0;
}

/* ============================================================================
 *  
 *  WORKSPACE
 * 
 * ==========================================================================*/
#workspaces{
    background-color: #393c3d;
    margin: 2px 0 2px 0;
}
#workspaces button {
    font-family: 'Material Design Icons';
    font-size: 12px;
    color: #7c6f64;
    padding: 0 5px 0 5px;
    margin: 0 2px 0 2px;
    border-radius: 2px;
}

#workspaces button:hover {
    color: #393c3d;
    background: #7c6f64;
    box-shadow: none;
    text-shadow: none;
    border-color: #7c6f64;
    border-radius: 2px;
    transition: 0;
}

#workspaces button#sway-workspace-1 {
    font-size: 16px;
    font-weight: 800;
}
#workspaces button#sway-workspace-7 {
    font-size: 13px;
    font-weight: 800;
}
#workspaces button#sway-workspace-8 {
    font-size: 14px;
    font-weight: 800;
}
#workspaces button#sway-workspace-1.current_output {
    color:#a9b665;
}
#workspaces button#sway-workspace-2.current_output {
    color: #e78a4e;
}
#workspaces button#sway-workspace-3.current_output {
    color: #82b3a8;
}
#workspaces button#sway-workspace-4.current_output {
    color: #d1b171;
}
#workspaces button#sway-workspace-5.current_output {
    color: #ce8196;
}

#workspaces button#sway-workspace-6.current_output {
    color:#a9b665;
}
#workspaces button#sway-workspace-7.current_output {
    color: #e78a4e;
}
#workspaces button#sway-workspace-8.current_output {
    color: #82b3a8;
}
#workspaces button#sway-workspace-9.current_output {
    color: #d1b171;
}

#workspaces button#sway-workspace-1.focused {
    color: #1e2122;
    background-color: #a9b665;
}
#workspaces button#sway-workspace-2.focused {
    color: #1e2122;
    background-color: #e78a4e;
}
#workspaces button#sway-workspace-3.focused {
    color: #1e2122;
    background-color: #82b3a8;
}
#workspaces button#sway-workspace-4.focused {
    color: #1e2122;
    background-color: #d1b171;
}
#workspaces button#sway-workspace-5.focused {
    color: #1e2122;
    background-color: #ce8196;
}
#workspaces button#sway-workspace-6.focused {
    color: #1e2122;
    background-color: #e78a4e;
}
#workspaces button#sway-workspace-7.focused {
    color: #1e2122;
    background-color: #82b3a8;
}
#workspaces button#sway-workspace-8.focused {
    color: #1e2122;
    background-color: #d1b171;
}
#workspaces button#sway-workspace-9.focused {
    color: #1e2122;
    background-color: #ce8196;
}


/* ============================================================================
 *  
 *  WINDOW
 * 
 * ==========================================================================*/
#custom-seperator{
    font-family: 'Font Awesome 6 Free Solid';
    font-size: 12px;
    color: #5a5d5e;
    margin: 0 0 0 14px;
}

#window{
    font-family: 'JetBrainsMonoMedium Nerd Font';
    font-size: 12px;
    color: #c7b89d;
    background-color: #393c3d;
    padding: 0 10px 0 10px;
    margin: 2px 0 2px 5px;
}
#waybar.empty #window{
    opacity: 0;
}



/* ============================================================================
 *  
 *  Music Player Daemon
 * 
 * ==========================================================================*/
 #mpd.icon{
    font-size: 14px;
    color: #1e2122;
    background-image: linear-gradient(to right, #cc95c0, #df9cb2, #e8a6a8);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 2px 0 2px 0;
    padding: 0 3px 0 6px;
}

#mpd.icon.paused{
    background-image: none;
    background-color: #393c3d;
    color: #a3a3a4;
}

#mpd.stopped{
    background-image: none;
    background-color: #393c3d;
    color: #a3a3a4;
}
#mpd.disconnected{
    background-image: none;
    background-color: #393c3d;
    color: #a3a3a4;
}

#mpd{
    font-size: 12px;
    color: #1e2122;
    color: #948a85;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin: 2px 0 2px 0;
    padding: 0 6px 0 3px;
}

#mpd.playing{
	background-image: linear-gradient(to right, #e8a6a8, #e8b4a2, #e4c2a5, #d5c7a1, #c3cba4, #b0ceae, #8dc8b6, #70bec4, #68b2d0, #7aa1d2);
}
#mpd.paused{
    background-image: none;
    background-color: #393c3d;
    color: #948a85;
}

#mpd.stopped{
    background-image: none;
    background-color: #393c3d;
    color: #948a85;
}
#mpd.disconnected{
    background-image: none;
    background-color: #393c3d;
    color: #948a85;
}

/* ============================================================================
 *  
 *  IDLE INHIBITOR
 * 
 * ==========================================================================*/
#idle_inhibitor {
    font-family: 'Material Design Icons';
    font-size: 14px;
    color: #948a85;
    background-color: #393c3d;
    margin: 2px 5px 2px 0;
    padding: 0 8px 0 8px;
    border-radius: 1px;
}

#idle_inhibitor.activated {
    color: #1e2122;
/*    background-image: radial-gradient(circle, #f0f1f4, #e0e1e3, #d0d1d3, #c1c1c2, #b1b1b2, #a3a3a4, #959596, #888888, #787878, #696969, #5a5a5a, #4c4c4c); */

    background-image: radial-gradient(circle, #f0f1f4, #e4e5e7, #d8d9db, #cdcdce, #c1c1c2, #aeaeaf, #9b9c9d, #898a8b, #6c6e6f, #505354, #36393a, #1e2122);
    padding: 0 8px 0 8px;
    margin: 2px 5px 2px 0;
    border-radius: 1px;
  
}



/* ============================================================================
 *  
 *  PULSEAUDIO
 * 
 * ==========================================================================*/
#pulseaudio.sink-icon{
    font-family: 'Material Design Icons';
    font-size: 12px;
    color: #a9b665;
    background-color: #393c3d;
    margin: 2px 0 2px 5px;
    padding: 0 6px 0 6px;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
#pulseaudio.source-icon{
    font-size: 11px;
    margin: 2px 0 2px 5px;
    border-radius: 2px;
}
#pulseaudio.sink{
    font-size: 12px;
    color: #c7b89d;
    background-color: #484b4c;
    margin: 2px 0 2px 0;
    border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
    padding: 0 6px 0 6px;
}
#pulseaudio.sink-icon.muted {
    background-color: #ec6b64;
    color: #1e2122;
}
#pulseaudio.sink.muted{
    color: #ec6b64;
}
#pulseaudio.source-icon.source-muted{
    color: #ec6b64;
    margin: 2px 5px 2px 5px;
    padding: 0 8px 0 6px;
    background-color: #484b4c;
}



/* ============================================================================
 *  
 *  MEMORY
 * 
 * ==========================================================================*/
 #memory.icon{
    font-family: 'Material Design Icons';
    font-size: 14px;
    color: #d1b171;
    background-color: #393c3d;
    margin: 2px 0 2px 5px;
    padding: 0 6px 0 6px;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
 #memory{
    font-size: 12px;
    color: #c7b89d;
    background-color: #484b4c;
    margin: 2px 5px 2px 0;
    padding: 0 6px 0 6px;
    border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}



/* ============================================================================
 *  
 *  NETWORK
 * 
 * ==========================================================================*/
 #network.icon{
    font-family: 'Material Design Icons';
    font-size: 12px;
    color: #cc7f94;
    background-color: #393c3d;
    margin: 2px 0 2px 5px;
    padding: 0 6px 0 6px;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
 #network{
    font-size: 12px;
    color: #c7b89d;
    background-color: #484b4c;
    margin: 2px 5px 2px 0;
    padding: 0 6px 0 6px;
}

#network.icon.disabled {
    color: #1e2122;
    background-color: #ec6b64;
}
#network.disabled {
    color: #ec6b64;
}
#network.icon.disconnected {
    color: #1e2122;
    background-color: #ec6b64;
}
#network.disconnected {
    color: #ec6b64;
}


/* ============================================================================
 *  
 *  BLUETOOTH
 * 
 * ==========================================================================*/
 #bluetooth{
    font-size: 12px;
    color: #c7b89d;
    background-color: #393c3d;
    margin: 2px 5px 2px 5px;
    padding: 0 6px 0 6px;
    border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#bluetooth.off{
    color: #948a85;
    background-color: #393c3d;
}

#bluetooth.on{
    color: #a9b665;
    background-color: #393c3d;
}

#bluetooth.connected{
    background-color: #a9b665;
    color: #1e2122;
}


/* ============================================================================
 *  
 *  DATE & TIME
 * 
 * ==========================================================================*/
#clock.date-icon{
    font-family: 'Font Awesome 6 Free Solid';
    font-size: 11px;
    color: #ff75a0;
    background-color: #393c3d;
    margin: 2px 0 2px 5px;
    padding: 0 8px 0 8px;
}
#clock.date{
    font-family: 'JetBrainsMonoMedium Nerd Font';
    font-size: 12px;
    color: #c7b89d;
    background-color: #484b4c;
    margin: 2px 5px 2px 0;
    padding: 0 6px 0 6px;
}

#clock.time-icon{
    font-family: 'Material Design Icons';
    font-size: 13px;
    font-weight: normal;
    color: #ff75a0;
    background-color: #393c3d;
    margin: 2px 0 2px 0;
    padding: 0 6px 0 6px;
}
#clock{
    font-family: 'JetBrainsMonoMedium Nerd Font';
    font-size: 12px;
    color: #c7b89d;
    background-color: #484b4c;
    margin: 2px 5px 2px 0;
    padding: 0 6px 0 6px;
}

/* ============================================================================
 *  
 *  BATTERY
 * 
 * ==========================================================================*/
#battery.icon {
    font-size: 11px;
    background-color: #393c3d;
    color: #749689;
    margin: 2px 0 2px 5px;
    padding: 0 8px 0 8px;
}
#battery.value {
    font-family: 'JetBrainsMonoMedium Nerd Font';
    font-size: 12px;
    background-color: #484b4c;
    color: #c7b89d;
    margin: 2px 5px 2px 0;
    padding: 0 6px 0 6px;
}
#battery.icon.charging {
    color: #a9b665;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    to {
        color: #c7b89d;
        background-color: #393c3d;
    }
}
#battery.icon.critical:not(.charging) {
    color: #1e2122;
    background: #ec6b64;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight.icon {
    font-family: 'Material Design Icons';
    font-size: 12px;
    background-color: #393c3d;
    color: #e78a4e;
    margin: 2px 0 2px 5px;
    padding: 0 8px 0 8px;
}
#backlight.value {
    font-family: 'JetBrainsMonoMedium Nerd Font';
    font-size: 12px;
    background-color: #484b4c;
    color: #c7b89d;
    margin: 2px 5px 2px 0;
    padding: 0 6px 0 6px;
}

#custom-power {
    font-family: 'Material Design Icons';
    font-size: 14px;
    font-weight: 800;
    background-color: #1e2122;
    color: #a9b665;
    margin: 2px 7px 2px 2px;
    padding: 0 6px 0 6px;
}


#tray {
    background-color: #a9b665;
    color: #ec6b64;
}
#tray > .passive {
    background-color: #ffffff;
    color: blue;
}
