* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.9);
}
button {
    color: #c7b89d;
	background-color: #282b2c;
	border-width: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #393c3d;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/bae/.config/wlogout/icons/lock.png"), url("/home/bae/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/bae/.config/wlogout/icons/logout.png"), url("/home/bae/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/bae/.config/wlogout/icons/suspend.png"), url("/home/bae/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/bae/.config/wlogout/icons/hibernate.png"), url("/home/bae/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/bae/.config/wlogout/icons/power.png"), url("/home/bae/.config/wlogout/icons/power.png"));
}

#reboot {
    background-image: image(url("/home/bae/.config/wlogout/icons/reboot.png"), url("/home/bae/.config/wlogout/icons/reboot.png"));
}
